.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a1a0a0;
    padding: 5px 10px;
   
}

.logo-container {
    position: relative;
    display: inline-block;
    
}

.logo {
    width: 24px; height: 24px;
     border-radius: 50%;
      position: absolute;
       left: 8; 

}

.logo-text {
    font-size: 24px;
    font-weight: bold;
    color: #020202;
    padding-left: 40px;
}

.div-nav a {
    color: rgb(0, 0, 0);
     padding: 14px 20px; 
     text-decoration: none; 
     font-weight: 100;
     font-size: 25px;
     transition: .5s;
}

.div-nav a:hover {
    color: aliceblue;
}


body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: hwb(0 100% 0%);
    margin: 0;
    padding: 0;
}

.team-title {
    color: rgb(0, 0, 0);
    margin: 20px 0;
}

.team-divider {
    border: none;
    background-color: #f8f8f8;
    height: 5px;
}

.team-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 50px auto;
    max-width: 1200px;
}

.team-member {
    background-color: hsl(0, 0%, 92%);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 250px;
    margin-bottom: 20px;
}

.member-link {
    text-decoration: none;
}

.member-image {
    width: 100%;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.member-divider {
    color: gray;
}

.member-name {
    text-decoration: none;
    color: #333;
    font-size: 20px;
    font-weight: bold;
}

.member-role {
    font-size: 16px;
    color: #777;
}

.member-description {
    text-align: inherit;
    margin: 15%;
}

.social-link {
    text-decoration: none;
    color: #4267B2;
    font-size: 20px;
    font-weight: bold;
}

.social-icon {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.footer-text {
    color: white;
    font-size: 16px;
}

.footer-divider {
    border: none;
    background-color: #ffffff;
    height: 5px;
}