/* General Styling for resume*/
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
}

img {
    height: 150px;
    width: 130px;
    border-radius: 20px;
    float: left;
    margin-right: 20px;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

h4 {
    margin: 5px 0;
}

hr {
    border: none;
    background-color: navy;
    height: 5px;
}

h2 {
    color: navy;
    margin-top: 20px;
}

p {
    text-align: justify;
    margin: 10px 0;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

/* For Mauvin's Resume */
img[src*="Austria.png"] {
    float: right;
    border-radius: 30px;
}

hr.color-gray {
    background-color: #696969;
}

ul ul {
    list-style-type: circle;
}

/* For Edrian's Resume */
img[src*="UBANA.jpg"] {
    float: right;
    border-radius: 30px;
}

hr.color-red {
    background-color: red;
}

ul ul i {
    font-style: italic;
}

/* For Hanz's Resume */
img[src*="VALENZUELA.jpg"] {
    border-radius: 20px;
}

/* For Angelo's Resume */
img[src*="MALACAD.jpg"] {
    border-radius: 20px;
}

/*Responsive Section*/
@media (max-width: 768px) {

    #Home h2 {
    font-size: 6vw;
    }
    
    #Home p {
    font-size: 4vw;
    }
    
    .team-container {
    flex-direction: column;
    }
    
    .team-member {
    margin: 2%;
    width: 90%;
    }
    
    .box {
    width: 90%;
    height: auto;
    }
    }
    
    @media (max-width: 480px) {
    #Home h2 {
    font-size: 5vw;
    }
    
    #Home p {
    font-size: 3.5vw;
    }
    
    .team-member img {
    width: 60px;
    height: 60px;
    }
    
    .team-container {
    flex-direction: column;
    }
    
    .team-member {
    margin: 2%;
    width: 90%;
    }
    
    button {
    font-size: 14px;
    padding: 10px;
    }
    
    .ccc-Cont{
        font-size: 12px;
    }
    
    .box{
        padding: 3%;
        max-width: 150%;
    }
    
    .box:hover{
        border-radius: 2%;
    }
    .box:hover .mission-content,
      .box:hover .vision-content{
        padding: 2%;
        width: 120%;
        height: 100%;
        max-width: 150%;
        max-height: 150%;
      }
    }